html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
  }
  
  nav {
    background-color: #111;
    color: white;
    padding: 20px 50px;
  }
  
  .navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .search {
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
  
  }
  
  .searchInput {
    border:none;
    border-collapse:collapse;
    background-color: transparent;
    font-size: 15px;
    
  }
  
  .searchInput::placeholder {
    color: lightgray;
  }
  
  .limitedOffer {
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    box-shadow: 
    inset 0px 11px 8px -10px #CCC,
    inset 0px -11px 8px -10px #CCC; 
   
  }
  
  .navBottom {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menuItem {
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
    font-weight: 400;
    padding:10px ;
  }
  .menuItem:hover {
    background-color:#03f47b;
    color: #050801;
    border:none;
    font-weight: 600;
    box-shadow: 0 0 5px #03f47b,
                0 0 25px #03f47b,
                0 0 50px #03f47b,
                0 0 200px #03f47b;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);            
  }
  
  .slider {
    background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    overflow: hidden;
  }
  
  .sliderWrapper {
    display: flex;
    width: 500vw;
    transition: all 1.5s ease-in-out;
  }
  
  .sliderItem {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .sliderBg {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    position: absolute;
  }
  
  .sliderImg {
    max-width: 500px;
    z-index: 1;
  }
  
  .sliderTitle {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 55px;
    font-weight: 400;
    text-align: center;
    color: white;
    z-index: 1;
    text-shadow: 1px 1px 2px rgb(231, 88, 88);
  }
  
  .sliderPrice {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    color: white;
    border: 1px solid gray;
    z-index: 1;
  }
  
  
  .buyButton {
    position: absolute;
    top: 60%;
    right: 10%;
    font-size: 30px;
    font-weight: 700;
    color: white;
    border: 1px solid gray;
    background-color: black;
    z-index: 1;
    cursor: pointer;
    padding: 5px;
  }
  
  .buyButton:hover {
    background-color:#03e9f4;
    color: #050801;
    border:none;
    font-weight: 600;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);            
  }
  
  .sliderItem:nth-child(1) .sliderBg {
    background-color: #60db93;
  }
  .sliderItem:nth-child(2) .sliderBg {
    background-color: rgb(63, 101, 99);
  }
  .sliderItem:nth-child(3) .sliderBg {
    background-color: rgb(234, 104, 39);
  }
  .sliderItem:nth-child(4) .sliderBg {
    background-color: cornflowerblue;
  }
  .sliderItem:nth-child(5) .sliderBg {
    background-color: rgb(232, 87, 85);
  }
  
  .sliderItem:nth-child(1) .sliderPrice {
    color: #369e62;
  }
  .sliderItem:nth-child(2) .sliderPrice {
    color: white;
  }
  .sliderItem:nth-child(3) .sliderPrice {
    color: rgb(237, 137, 38);
  }
  .sliderItem:nth-child(4) .sliderPrice {
    color: cornflowerblue;
  }
  .sliderItem:nth-child(5) .sliderPrice {
    color: rgb(227, 60, 94);
  }
  .navItem h2 {
    text-align: center;
    color: #8fdf93;
    border: white;
    letter-spacing: 1px;
    padding: 5px;
    box-shadow: 
    inset 0px 11px 8px -10px #CCC,
    inset 0px -11px 8px -10px #CCC; 
  }

  

  .features {
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    padding: 50px;
   
  }

  .feature{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; 

  }

  .featureIcon{
    width: 50px;
    height: auto;

  }
   .featureTitle{
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
   }
   .featureDescription{
    color: rgb(96, 95, 95);
    width: 50%;
    height:100px;
   }
   .product{
    position: relative;
    height: 120vh;
    background-color:azure;
   
   }
   .productImg{
    width:40%;
    padding-left: 40px;

}
.productDetails{
    position: absolute;
    top: 5%;
    right: 0;
    width: 40%;
    padding: 10px;

}
.productTitle{
    font-size: 48px;
    font-weight: 700;
}
.productDesc{
    font-size: 20px;
    color: gray;
    float: right;
}
.colors,.sizes{
    display: flex;
    margin-bottom: 10px;
    margin-left:58% ;
}


.color{
    width: 32px;
    height: 32px; 
    border: 1px solid black;
    border-radius: 5px;
    background-color: green;
    margin-right: 10px;
} 

.color:last-child {
  background-color: black;
}

.size{
margin-right:10px ;
padding: 5px 15px;
border: 1px solid black;
cursor: pointer;
}

.productButton {
    display: flex;
    margin-left: 85%;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: black;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 22px;
    cursor: pointer;
  }
  .productButton:hover {
    background-color:#03e9f4;
    color: #050801;
    border:none;
    font-weight: 600;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);            
  }

  .payment{
    width: 500px;
    height: auto;
    background-color: white;
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding: 10px 50px;
    display: none;
    flex-direction: column;
    box-shadow: 1px 1px 12px 13px black;
  }

  .payTitle{
    font-size: 20px;
    color:lightgreen;
  }
  label{
    font-size: 16px;
    font-weight: 300;
  
  }
  
  .payInput {
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid gray;
  }
  
  .payInput::placeholder {
    color: gray;
  }

  .cardsIcons{
    display: flex;
  }
  .cardIcon{
    margin-left: 15px;
  }

  .cardInfo{
    display: flex;
    justify-content: space-between;
  }
  .sm {
    width:30%
  }
  .payButton{
    position: absolute;
    height: 40px;
    margin-top: 80px;
    margin-left: 18%;
    width: 50%;
    box-shadow: 0px 0px 12px 2px black;
    background-color: #60db93;
    color: white;
    border: none;
    border-radius: 3px;
  }

  .close {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: gray;
    color: white;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 2px;
  }
  small{
    color: gray;
  }


  .gallery {
    padding: 50px;
    display: flex;
  }
  
  .galleryItem {
    flex: 1;
    padding: 50px;
  }
  
  .galleryImg {
    width: 100%;
  }
  
  .newSeason {
    display: flex;
  }
  
  .nsItem {
    flex: 1;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .nsImg {
    width: 100%;
    height: 500px;
  }
  
  .nsTitle {
    font-size: 40px;
  }
  
  .nsButton {
    padding: 15px;
    font-weight: 600;
    cursor: pointer;
  }
  
  footer {
    display: flex;
  }
  
  .footerLeft {
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 50px;
  }
  
  .fMenuTitle {
    font-size: 16px;
  }
  
  .fList {
    padding: 0;
    list-style: none;
  }
  
  .fListItem {
    margin-bottom: 10px;
    color: gray;
    cursor: pointer;
  }
  
  .footerRight {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .fInput {
    padding: 5px;
  }
  
  .fButton {
    padding: 5px;
    background-color: black;
    color: white;
  }
  
  .fIcons{
    display: flex;
  }
  
  .fIcon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .copyright{
    font-weight: 300;
    font-size: 14px;
  }
  
  @media screen and (max-width:480px) {
    nav{
      padding: 20px;
    }
  
    .search{
      display: none;
    }
  
    .navBottom{
      flex-wrap: wrap;
    }
  
    .menuItem{
      margin: 20px;
      font-weight: 700;
      font-size: 20px;
    }
  
    .slider{
      clip-path: none;
    }
  
    .sliderImg{
      width: 90%;
    }
  
    .sliderBg{
      width: 100%;
      height: 100%;
    }
  
    .sliderTitle{
      display: none;
    }
  
    .sliderPrice{
      top: unset;
      bottom: -50;
      left: 0;
      background-color: lightgrey;
    }
  
    .buyButton{
      right: 0;
      top: 0;
    }
  
    .features{
      flex-direction: column;
    }
  
    .product{
      clip-path: none ;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .productImg{
      width: 80%;
    }
  
    .productDetails{
      width: 100%;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: relative;
      top: 0;
    }
  
    .productTitle{
      font-size: 50px;
      margin: 0;
    }
  
    .gallery{
      display: none;
    }
  
    .newSeason{
      flex-direction: column;
    }
  
    .nsItem:nth-child(2){
      padding: 50px;
    }
  
    footer{
      flex-direction: column;
      align-items: center;
    }
  
    .footerLeft{
      padding: 20px;
      width: 90%;
    }
  
    .footerRight{
      padding: 20px;
      width: 90%;
      align-items: center;
      background-color: whitesmoke;
    }
  
    .payment{
      width: 90%;
      padding: 20px;
    }
  }